<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="no.designsolutions.livenotes">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.NotebooksActivity2"
            android:exported="true"
            android:label="@string/title_activity_notebooks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotebooksActivity"
            android:label="@string/title_activity_notebooks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FileBrowserActivity"
            android:label="@string/title_activity_file_browser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectFileActivity"
            android:label="@string/title_activity_select_file" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".MyMediaPlayer"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimeSelect"
            android:theme="@style/AppTheme.TimeSelect" />

        <service
            android:name=".util.PlayerService"
            android:exported="false" />
    </application>

</manifest>